@media screen and (max-width: 1104px){
    .macaroons__items {
        grid-template-columns: repeat(2, fit-content(263px));
       justify-content: center;
       gap: 136px 39.33px
    }
}
@media screen and (max-width: 996px){
    .menu {
        margin-left: 100px;
    }
    .main{ 
        padding: 71px 0 103px 0;
    }
    .advantages__items {
        grid-template-columns: repeat(2, fit-content(230px));
        gap: 122px 65px;
        justify-content: center;
    }
    .advantage__number {
        justify-self: center;
        padding: 0;
    }
    .advantage__number::before {
        left: -19px;
    }
    .advantage__title {
        text-align: center;}
    .advantage__text {
        text-align: center;
    }
    .order__content {
        margin-left: 15px;
    }
}
@media screen and (min-width: 769px){
    .main__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main__content{
        flex: 0 0 58%;
        margin-right: 15px;
    }
    .main__img-image {
        width: 100%;
    }
    .main__img::before,
    .main__img::after {
        width: 50%;
        height: 60%;
    }
    .description__container {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
}

@media screen and (max-width: 768px){
    .main{ 
        padding: 65px 0 43px 0;
    }
    .header__container .phone{
        display: none;
    }
    .main__title {
        margin-bottom: 75px;
    }
    .main__text {
        margin-bottom: 49px;
    }
    .main__img{
        margin-top: -87px;
        
    }

    .description {
        text-align: center;
    }
    .description__title {
        margin: 0 auto;
        margin-bottom: 65px;
    }
    .description__text {
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .order {
        padding: 118px 0 20px 0;
        
    }
    .order__body {
        
    }
    .order__img {
        order: 2;
    }
    .order__content {
        order: 1;
        padding-bottom: 127px;
    }
    .order__img{
        position: relative;
    }
    .order__decoration_srrawberry-1 {
        position: absolute;
        content: "";
        left: 0;
        top: -35px;
        z-index: 3;
        animation: top-bottom 3s infinite;
    }
    .order__decoration_srrawberry-2 {
        position: absolute;
        content: "";
        right: 96px;
        top: -200px;
        z-index: 3;
        animation: top-bottom 3.2s infinite;
    }
}
@media screen and (max-width: 640px){
    .main__img{
        margin-top: -42px;
    }
    .menu__items {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 579px){
    .main__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main__img{
        margin-top: 37px;
    }
    .macaroons__items {
        grid-template-columns: repeat(1, fit-content(263px));
       justify-content: center;
       gap: 136px 39.33px
    }
}

@media screen and (max-width: 468px){
    .main__title {
        font-size: 32px;
        margin-bottom: 46px;
}
.main__text {
        font-size: 16px;
        margin-bottom: 40px;
}
.description{
    padding-top: 100px;
}
.description__title {
        font-size: 30px;
        margin-bottom: 45px;
}
.description__text {
        font-size: 16px;
        margin-bottom: 61px;
}
.advantages {
    padding: 63px 0 91px 0;
}

   .advantages__items {
        grid-template-columns: repeat(2, 165px);
        gap: 75px 15px;
        justify-content: center;
    }
    .advantage__title {
        font-size: 18px;
}
.advantage__text {
        font-size: 13px;
}
.macaroons {
    padding: 100px 0 100px 0;
}
.macaroons__title {
        font-size: 30px;
        margin-bottom: 125px;
}
.order {
    padding: 97px 0 79px 0;
}
.order__title {
        font-size: 30px;
}
.order__text {
        font-size: 16px;
}
.order__body {
    display: block;
}
.order__img-image{
    display: none;
}
.order__decoration_srrawberry-2{
    display: none;
}
.order__base-input, 
.order__btn{
    width: 100%;
}

.order__decoration_srrawberry-1 {
    left: 219px;
    top: 117px;
}
.footer{
    padding: 47px 0 26px 0;
}
.footer__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 53px 53px 53px 53px 37px
}
.footer__container > *{
    justify-self: center;
    align-self: self-start;
}
.footer__container .logo{
order: 1 ;
}
.footer__insta{
    order: 3;
}
.footer__container .phone{
    order: 2 ;
}
.footer__rights{
    order: 5;
}
.footer_text-insta{
    order: 4 ;
}
.present{
    display: none;
}
}

/*-----------------------------------------*/

@media screen and (max-width: 468px){
.menu{
    display: none;
}
.burger{
    display: block;
}
.burger {
    position: relative;
    width: 38px;
    height: 22px;
    flex-shrink: 0;
    cursor: pointer;
}

.burger::before, 
.burger::after, 
.burger span::after {
    content: "";
    background-color: #821328;
    position: absolute;
    width: 41px;
    height: 1.5px;
    left: 0;
    z-index: 11;
}
.burger::after{
    top: 9px;
}
.burger span::after {

    top: 18px;
}

.menu{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background: #000000c9;
}
.menu__items{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}
.menu-item{
    padding: 15px 0;
}
.menu.open{
    display: flex;
    align-items: center;
}
.menu .close{
    display: block;
    width: 24px;
    height: 24px;
    fill: #821328;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}
}